<section>
    <p class="profile-box-title">Profile</p>
    <div class="profile-box-image">
        <img src="./static/pochi-icon.png" class="profile-box-icon" width="150" alt="icon">
    </div>
    <div class="profile-box-desc">
        <h1>Pochi</h1>
        <p><img src="./static/team.svg" class="profile-box-team" alt="team" height="20">@<a
                href="https://github.com/Liberluna">Liberluna</a> 所属</p>

        <p>~~~~~~~~~~~~~~~~~</p>
        <p>~~~~~~~~~~~~~~~~~</p>
        <p>~~~~~~~~~~~~~~~~~</p>
        <p>~~~~~~~~~~~~~~~~~</p>
    </div>

    <div class="profile-box-links">
        <img src="./static/github.svg" onclick="window.open('https:\/\/github.com\/Pochi-Liberluna/','_blank')" height="25" alt="">
        <img src="./static/twitter.svg" onclick="window.open('https:\/\/twitter.com\/Pochi_Liberluna/','_blank')" height="25" alt="">
    </div>
</section>

<style>
    .profile-box-title {
        font-size: 1.25em;
        font-weight: lighter;
        margin-left: 10px;
        margin-top: 5px;
    }

    .profile-box-image {
        width: 100%;
        height: auto;
        margin: 15px 0;
        display: flex;
        justify-content: center;
    }

    .profile-box-icon {
        margin: 0 auto;
    }

    .profile-box-desc {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5px;
    }

    .profile-box-desc p,
    a {
        color: #fff;
        display: flex;
        margin: .5px 1.5px;
    }

    .profile-box-team {
        position: relative;
        top: 2px;
        padding: 0 5px;
    }

    h1 {
        font-family: 'Times New Roman', Times, serif;
    }

    .profile-box-links {
        display: flex;
        justify-content: center;
        margin: 10px 20px 0 20px;
    }

    .profile-box-links img {
        margin: 5px;
    }
</style>