<section>
    <p class="works-box-title">Works</p>
    <div class="works-box-works">
        <div class="works-box-work">~~~~~~ </div>
        <div class="works-box-work">~~~~~~ </div>
        <div class="works-box-work">~~~~~~ </div>
        <div class="works-box-work">~~~~~~ </div>
        <div class="works-box-work">~~~~~~ </div>
        <div class="works-box-work">~~~~~~ </div>
    </div>
</section>

<style>
    .works-box-title {
        font-size: 1.25em;
        font-weight: lighter;
        margin-left: 10px;
        margin-top: 5px;
    }

    .works-box-works {
        margin: 10px;
        display: flex;
        flex-direction: column;
    }

    .works-box-work {
        width: auto;
        padding: 0 10px;
        display: flex;
        justify-content: space-between;
        margin: 0 20%;
        transform: scale(1.2);
    }
</style>